* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.1rem;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

#title > h1 {
    padding: 0.5rem;
}

#round {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: solid black 1px;
    border-radius: 1rem;
}

#team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    justify-content:space-around;
    border: solid black 1px;
    border-radius: 1rem;
}

#team > #player {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

#team > #comp {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.tName {
    padding: 0.3rem;
}

#score {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
}

#buttons {
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    border-radius: 1rem;
}

#buttons > button {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

#btnR {
    
}

#btnP {

}

#btnS {

}






